In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install pycaret &> /dev/null
print ("installed!!")

installed!!

In [3]:
data = pd.read_csv('train.csv')

In [4]:
from pycaret.regression import *

In [ ]:
data1 = data.drop(['target_benzene','target_nitrogen_oxides'],axis=1)
data1

In [ ]:
s = setup(data =  data1, target='target_carbon_monoxide', train_size=0.8, silent=True,remove_outliers = True, outliers_threshold = 0.05, normalize = True, normalize_method = 'zscore')

In [ ]:
cm = compare_models() #outliers and normaisation

In [8]:
test = pd.read_csv('test.csv')

In [9]:
sol = pd.DataFrame()

In [ ]:
Model = create_model('lightgbm')

In [ ]:
newPredictions1 = predict_model(Model, data = test)
newPredictions1.round(0)

In [12]:
sol['date_time']=test['date_time']

In [20]:
sol['target_carbon_monoxide']=newPredictions1['Label']

In [ ]:
data2 = data.drop(['target_carbon_monoxide','target_nitrogen_oxides'],axis=1)
data2

In [ ]:
s2 = setup(data =  data2, target='target_benzene', train_size=0.7, silent=True)

In [ ]:
cm2 = compare_models()

In [ ]:
etModel = create_model('et')

In [ ]:
newPredictions2 = predict_model(etModel, data = test)
newPredictions2.round(0)

In [33]:
sol['target_benzene']=newPredictions2['Label']

In [37]:
data3 = data.drop(['target_carbon_monoxide','target_benzene'],axis=1)

In [ ]:
s3 = setup(data =  data3, target='target_nitrogen_oxides', train_size=0.7, silent=True)

In [ ]:
cm2 = compare_models()

In [ ]:
etModel = create_model('et')

In [ ]:
newPredictions3 = predict_model(etModel, data = test)
newPredictions3

In [43]:
sol['target_nitrogen_oxides']=newPredictions3['Label']

In [44]:
sol

                date_time  ...  target_nitrogen_oxides
0     2011-01-01 00:00:00  ...              186.500000
1     2011-01-01 01:00:00  ...              207.061000
2     2011-01-01 02:00:00  ...              125.156999
3     2011-01-01 03:00:00  ...              160.998998
4     2011-01-01 04:00:00  ...              112.044000
...                   ...  ...                     ...
2242  2011-04-04 10:00:00  ...              286.392002
2243  2011-04-04 11:00:00  ...              158.806999
2244  2011-04-04 12:00:00  ...              160.894000
2245  2011-04-04 13:00:00  ...              122.679000
2246  2011-04-04 14:00:00  ...              144.974000

[2247 rows x 4 columns]

In [45]:
final_sub = sol.round(0)

In [46]:
final_sub

                date_time  ...  target_nitrogen_oxides
0     2011-01-01 00:00:00  ...                   186.0
1     2011-01-01 01:00:00  ...                   207.0
2     2011-01-01 02:00:00  ...                   125.0
3     2011-01-01 03:00:00  ...                   161.0
4     2011-01-01 04:00:00  ...                   112.0
...                   ...  ...                     ...
2242  2011-04-04 10:00:00  ...                   286.0
2243  2011-04-04 11:00:00  ...                   159.0
2244  2011-04-04 12:00:00  ...                   161.0
2245  2011-04-04 13:00:00  ...                   123.0
2246  2011-04-04 14:00:00  ...                   145.0

[2247 rows x 4 columns]

In [48]:
final_sub.to_csv('final.csv')